services:
  phpunit-8.5:
    build:
      context: .
      dockerfile: docker/Dockerfile
      args:
        PHP_VERSION: "8.5"
    command: sh -c 'php -v && vendor/bin/phpunit'
    tty: true

  phpunit-8.4:
    build:
      context: .
      dockerfile: docker/Dockerfile
      args:
        PHP_VERSION: "8.4"
    command: sh -c 'php -v && vendor/bin/phpunit'
    tty: true

  phpunit-8.3:
    build:
      context: .
      dockerfile: docker/Dockerfile
      args:
        PHP_VERSION: "8.3"
    command: sh -c 'php -v && vendor/bin/phpunit'
    tty: true

  phpunit-8.2:
    build:
      context: .
      dockerfile: docker/Dockerfile
      args:
        PHP_VERSION: "8.2"
    command: sh -c 'php -v && vendor/bin/phpunit'
    tty: true

  phpunit-8.0:
    build:
      context: .
      dockerfile: docker/Dockerfile
      args:
        PHP_VERSION: "8.0"
    command: sh -c 'php -v && vendor/bin/phpunit'
    tty: true

  phpunit-7.4:
    build:
      context: .
      dockerfile: docker/Dockerfile
      args:
        PHP_VERSION: "7.4"
    command: sh -c 'php -v && vendor/bin/phpunit'
    tty: true

  phpunit-7.2:
    build:
      context: .
      dockerfile: docker/Dockerfile
      args:
        PHP_VERSION: "7.2"
    command: sh -c 'php -v && vendor/bin/phpunit'
    tty: true
