<?xml version="1.0"?>
<ruleset>

 <file>src</file>
 <file>tests</file>

 <exclude-pattern>*/vendor/*</exclude-pattern>

 <rule ref="PSR2"/>

 <rule ref="Squiz.Arrays.ArrayBracketSpacing"/>

 <rule ref="Squiz.Classes.LowercaseClassKeywords"/>
 <rule ref="Squiz.Classes.SelfMemberReference"/>

 <rule ref="Generic.Classes.DuplicateClassName"/>

 <rule ref="Generic.CodeAnalysis.UnusedFunctionParameter"/>
 <rule ref="Generic.CodeAnalysis.ForLoopShouldBeWhileLoop"/>
 <rule ref="Generic.CodeAnalysis.JumbledIncrementer"/>
 <rule ref="Generic.CodeAnalysis.UnconditionalIfStatement"/>
 <rule ref="Generic.CodeAnalysis.UnnecessaryFinalModifier"/>
 <rule ref="Generic.CodeAnalysis.UselessOverridingMethod"/>
 <rule ref="Generic.CodeAnalysis.EmptyStatement"/>

 <rule ref="Generic.Commenting.Todo"/>
 <rule ref="Generic.Commenting.Fixme"/>
 <rule ref="Generic.Commenting.DocComment"/>

 <rule ref="Squiz.ControlStructures.ForEachLoopDeclaration"/>
 <rule ref="Squiz.ControlStructures.ForLoopDeclaration"/>
 <rule ref="Squiz.ControlStructures.LowercaseDeclaration"/>

 <rule ref="Generic.Formatting.DisallowMultipleStatements"/>
 <rule ref="Generic.Formatting.SpaceAfterCast"/>

 <rule ref="Generic.Functions.FunctionCallArgumentSpacing"/>

 <rule ref="Squiz.Functions.FunctionDeclarationArgumentSpacing">
  <properties>
   <property name="equalsSpacing" value="0"/>
  </properties>
 </rule>
 
 <rule ref="Squiz.Functions.FunctionDeclaration"/>
 <rule ref="PEAR.Functions.ValidDefaultValue"/>
 <rule ref="Squiz.Functions.LowercaseFunctionKeywords"/>

 <rule ref="Generic.NamingConventions.ConstructorName"/>
 <rule ref="Generic.NamingConventions.UpperCaseConstantName"/>
 <rule ref="PEAR.NamingConventions.ValidClassName"/>

 <rule ref="Squiz.Operators.ValidLogicalOperators"/>

 <rule ref="Generic.PHP.DeprecatedFunctions"/>
 <rule ref="Squiz.PHP.CommentedOutCode"/>

 <rule ref="Generic.PHP.DisallowShortOpenTag"/>
 <rule ref="Squiz.PHP.Eval"/>
 <rule ref="Generic.PHP.ForbiddenFunctions"/>
 <rule ref="Squiz.PHP.NonExecutableCode"/>
 <rule ref="Generic.PHP.NoSilencedErrors"/>
 <rule ref="Generic.PHP.LowerCaseConstant"/>
 <rule ref="Generic.PHP.LowerCaseKeyword"/>

 <rule ref="Squiz.Scope.MemberVarScope"/>
 <rule ref="Squiz.Scope.MethodScope"/>
 <rule ref="Squiz.WhiteSpace.ScopeKeywordSpacing"/>
 <rule ref="Squiz.Scope.StaticThisUsage"/>

 <rule ref="Squiz.WhiteSpace.CastSpacing"/>
 <rule ref="Squiz.WhiteSpace.LogicalOperatorSpacing"/>
 <rule ref="Squiz.WhiteSpace.ScopeClosingBrace"/>
 <rule ref="Squiz.WhiteSpace.SemicolonSpacing"/>

 <rule ref="Generic.Formatting.DisallowMultipleStatements"/>

 <rule ref="Generic.Metrics.CyclomaticComplexity">
  <properties>
   <property name="complexity" value="15"/>
   <property name="absoluteComplexity" value="30"/>
  </properties>
 </rule>

 <rule ref="Generic.Metrics.NestingLevel">
  <properties>
   <property name="nestingLevel" value="6"/>
   <property name="absoluteNestingLevel" value="10"/>
  </properties>
 </rule>

 <rule ref="Generic.Files.LineLength">
  <properties>
   <property name="lineLimit" value="130"/>
   <property name="absoluteLineLimit" value="0"/>
  </properties>
 </rule>

</ruleset>
